@{
    ViewData["Title"] = "Не доступно";
    Layout = "_LayoutSimple";
}

<div class="container>
    <p class="text-danger">В доступе отказано!</p>
    <a asp-controller="Account" asp-action="Login"></a>
</div>
