@*<h1> Главная страница </h1>*@

<partial name="Partial/_Slider"/>
<section>
    <div class="container">
        <div class="row">
            <partial name="Partial/_LeftSideBar" />

            <div class="col-sm-9 padding-right">

                <partial name="Partial/_Category" />
                <partial name="Partial/_FeaturesItems" />
                <partial name="Partial/_RecommendedItems" />              

            </div>
        </div>
    </div>
</section>
