@inject IProductService ProductService
@inject IMapper _mapper
@{
    var products = ProductService.GetProducts(null, null).Take(6).Select(p => _mapper.Map<ProductViewModel>(p));
}
<partial name="Partial/_Slider" />
<section>
    <div class="container">
        <div class="row">
            <partial name="Partial/_LeftSideBar" />

            <div class="col-sm-9 padding-right">

                <partial name="Partial/_Category" />
                <partial name="Partial/_FeaturesItems" model="products" />
                <partial name="Partial/_RecommendedItems" />

            </div>
        </div>
    </div>
</section>