<div class="mainmenu pull-left">
    <ul class="nav navbar-nav collapse navbar-collapse">
        <li><a asp-controller="Home" asp-action="Index" class="active">Home</a></li>
        <li class="dropdown">
            <a href="#">Shop<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a asp-controller="Catalog" asp-action="Shop">Каталог товаров</a></li>
                <li><a asp-controller="Home" asp-action="ProductDetails">Информация о товаре</a></li>
                <li><a asp-controller="Home" asp-action="Checkout">Оформление заказа</a></li>
                <li><a asp-controller="Home" asp-action="Cart">Корзина</a></li>                
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Blog<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a asp-controller="Home" asp-action="Blogs">Список блогово</a></li>
                <li><a asp-controller="Home" asp-action="ShopBlog">Блог магазина</a></li>
            </ul>
        </li>        
        <li><a asp-controller="Employee" asp-action="Contacts">Контакты</a></li>
        <li><a asp-controller="Employee" asp-action="Index">Сотрудники</a></li>
    </ul>
</div>